%disibled {
	opacity: 0.5;
	cursor: not-allowed !important;
}
.yui-pagination-wrapper {
	.yui-pagination-item {
		display: inline-block;
		min-width: 32px;
		height: 32px;
		margin-right: 8px;
		line-height: 30px;
		text-align: center;
		vertical-align: middle;
		background-color: #fff;
		border: 1px solid #d9d9d9;
		border-radius: 4px;
		cursor: pointer;
		user-select: none;
		color: rgba(0, 0, 0, 0.65);
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			color: #61dafb;
		}
		&-active {
			border-color: #61dafb;
			color: #61dafb;
		}
		&-disibled {
			@extend %disibled;
			&:hover:not(.yui-pagination-item-active) {
				color: rgba(0, 0, 0, 0.65);
			}
		}
	}
}
