$btn-primary-bg: #e5f0ff;
$btn-primary-color: #006fff;
$btn-primary-bc: #e5f0ff;
$btn-primary-hover-bg: #a2c6f0;
$btn-primary-hover-bc: #aed0ff;

$btn-denger-bg: #ff4d4f;
$btn-denger-color: #fff;
$btn-denger-bc: #ff4d4f;
$btn-denger-hover-bg: #ff7875;
$btn-denger-hover-bc: #ff7875;

$btn-default-bg: transparent;
$btn-default-color: #7e8190;
$btn-default-bc: #e5e7ed;
$btn-default-hover-bg: #eeeff5;
$btn-default-hover-bc: #b3b5bd;