.yui-checkbox-wrapper {
	.yui-label {
		cursor: pointer;
    align-items: center;
    line-height: 1;
		.yui-checkbox-input {
			-webkit-appearance: none;
			width: 16px;
			height: 16px;
			background-color: #fff;
			border: 1px solid #525461;
			border-radius: 2px;
			outline: none;
			position: relative;
      cursor: pointer;
      vertical-align:middle;
			&:hover {
				border-color: #61dafb;
			}
			&::after {
				content: "";
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -80%) rotate(-45deg) scale(0);
				width: 8px;
				height: 5px;
				border-left: 1px solid #151725;
        border-bottom: 1px solid #151725;
        transition: transform 80ms linear;
			}
		}
		&-text {
			margin-left: 6px;
      display: inline-block;
		}
		&-disibled {
			cursor: not-allowed;
			opacity: 0.5;
			user-select: none;
			.yui-checkbox-input {
				cursor: not-allowed !important;
				border-color: #525461 !important;
			}
		}
		&-checked {
			.yui-checkbox-input {
				&::after {
          transform: translate(-50%, -80%) rotate(-45deg) scale(1);
				}
			}
		}
	}
}
